version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fluffy_app
    restart: always
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "9000:9000"
    networks:
      - fluffy_network
    depends_on:
      - db

  webserver:
    image: nginx:latest
    container_name: fluffy_nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - fluffy_network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: fluffy_db
    restart: always
    environment:
      MYSQL_DATABASE: fluffy_bakery
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - fluffy_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: fluffy_phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    networks:
      - fluffy_network

networks:
  fluffy_network:

volumes:
  db_data:
